html,
body,    
#container1 {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#loader1 {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.row {
    padding: 10px 3px;
}